[submodule "third-party/picolibc"]
	path = third_party/picolibc
	url = https://github.com/picolibc/picolibc
[submodule "third_party/riscv-dv"]
	path = third_party/riscv-dv
	url = https://github.com/chipsalliance/riscv-dv
[submodule "third_party/cocotb"]
	path = third_party/cocotb
	url = https://github.com/cocotb/cocotb
[submodule "third_party/make-env"]
	path = third_party/make-env
	url = https://github.com/SymbiFlow/make-env.git
[submodule "third_party/OpenROAD-flow-scripts"]
	path = third_party/OpenROAD-flow-scripts
	url = https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts.git
[submodule "third_party/yosys-systemverilog"]
	path = third_party/yosys-systemverilog
	url = https://github.com/antmicro/yosys-systemverilog.git
